/**
 * custom theme 2020-11-09 10:20:43 */

#newsletter_pop_up{
width: 850px;height: 400px;background-color: #FFFFFF;background-repeat: no-repeat;
background-position: 15px;
background-size: contain;}
#newsletter_pop_up .col-img{
	height: 100%;
	background-image: url(../../../../../../blueskytechco.net/ecofarm241/pub/media/rokanthemes/newsletter/background/default/bg_newsletter.png);background-repeat: no-repeat;
background-position: 15px;
background-size: contain;}
