{% extends 'userpanel.html' %}
{% block content %}
{% load static %}
{% include "messages.html" %}
<!--
<div class="section-element categories_tab">
<div class="container">
<div>
<div class="categorytab-container">
<header class='group-title1'>
<h2>New arrivals products</h2> <p class="description">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. </p> </header>
<div class="row1">
<div class="tab_container">
<div id="tab3-categories_tab" class="tab_content_categories_tab shop-products">
<div class="owl-container">
<div class="category_tab_slider owl-carousel">
<div class="product-item-group">
</div>
    <div class="product-item-group">
</div>
    <div class="product-item-group">
<div class="product-item">
<div class="product-photo">
<a href="en/mini-safa.html" class="product-thumb-link">
<span class="image0 image-switch">
<span class="product-image-container product-image-container-15663075967">
<span class="product-image-wrapper">
<img class="product-image-photo" src="{% static 'index/images/media/catalog/product/cache/c02b60e481df3fbf86904e5c4b3eb7ff/6/_/6_1_2.jpg' %}" loading="lazy" max-width="600" max-height="600" alt="Cras&#x20;neque&#x20;cook" /></span>
</span>
<style>.product-image-container-15663075967 {
    width: 600px;
}
.product-image-container-15663075967 span.product-image-wrapper {
    padding-bottom: 100%;
}</style><script type="text&#x2F;javascript">prodImageContainers = document.querySelectorAll(".product-image-container-15663075967");
for (var i = 0; i < prodImageContainers.length; i++) {
    prodImageContainers[i].style.width = "600px";
}
prodImageContainersWrappers = document.querySelectorAll(
    ".product-image-container-15663075967  span.product-image-wrapper"
);
for (var i = 0; i < prodImageContainersWrappers.length; i++) {
    prodImageContainersWrappers[i].style.paddingBottom = "100%";
}</script> </span>
<span class="image1 image-switch">
<span class="product-image-container product-image-container-152032245640">
<span class="product-image-wrapper">
<img class="product-image-photo" src="{% static 'index/images/media/catalog/product/cache/c02b60e481df3fbf86904e5c4b3eb7ff/8/_/8_1.jpg' %}" loading="lazy" max-width="600" max-height="600" alt="Cras&#x20;neque&#x20;cook" /></span>
</span>
<style>.product-image-container-152032245640 {
    width: 600px;
}
.product-image-container-152032245640 span.product-image-wrapper {
    padding-bottom: 100%;
}</style><script type="text&#x2F;javascript">prodImageContainers = document.querySelectorAll(".product-image-container-152032245640");
for (var i = 0; i < prodImageContainers.length; i++) {
    prodImageContainers[i].style.width = "600px";
}
prodImageContainersWrappers = document.querySelectorAll(
    ".product-image-container-152032245640  span.product-image-wrapper"
);
for (var i = 0; i < prodImageContainersWrappers.length; i++) {
    prodImageContainersWrappers[i].style.paddingBottom = "100%";
}</script> </span>
</a>
<div class="quickview-product visible-onhover">
<a data-role="quickview-button" data-id="15" href="en/quickview/product/quickview/id/15/index.html" title="" class="ajax diamond tooltip-hover" data-placement="top" data-original-title="Quick View">
<i class="lnr lnr-move"></i>
</a>
</div>
<div class="product-label">
<span class="newlabel">
<span>New</span>
</span>
</div>
</div>
<div class="product-info">
<div class="product-name">
<strong class="product-item-name">
<a title="Cras neque cook" href="en/mini-safa.html" class="product-item-link">
Cras neque cook </a>
</strong>
</div>
<div class="product-reviews-summary" data-itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
<div class="rating-summary">
<span class="label"><span>Rating:</span></span>
<div class="rating-result" title="77%">
<span style="width:77%"><span><span data-itemprop="ratingValue">77</span>% of <span itemprop="bestRating">100</span></span></span>
</div>
</div>
<div class="reviews-actions">
<a class="action view" href="en/mini-safa.html#reviews"><span data-itemprop="reviewCount">2</span>&nbsp;<span>Reviews</span></a>
<a class="action add" href="en/mini-safa.html#review-form">Add Your Review</a>
</div>
</div>
<div class="price-box price-final_price" data-role="priceBox" data-product-id="15" data-price-box="product-id-15"><div class="price-box">
<p class="minimal-price">
<span class="price-label">Starting at</span>
<span class="price-container tax&#x20;weee">
<span data-price-amount="96" data-price-type="" class="price-wrapper "><span class="price">$96.00</span></span>
</span>
</p>
</div>
</div>
<div class="actions-primary">
<div class="action-wishlist visible-onhover">
<a href="#" data-post='{"action":"http:\/\/blueskytechmage.com\/ecofarm\/en\/wishlist\/index\/add\/","data":{"product":15,"uenc":"aHR0cDovL2JsdWVza3l0ZWNobWFnZS5jb20vZWNvZmFybS8,"}}' class="action towishlist" data-action="add-to-wishlist" title="Add to Wishlist">
<i class="lnr lnr-heart"></i>
</a>
</div>
<div class="action-add-cart visible-onhover">
<form data-role="tocart-form" action="http://blueskytechmage.com/ecofarm/en/checkout/cart/add/uenc/aHR0cDovL2JsdWVza3l0ZWNobWFnZS5jb20vZWNvZmFybS8%2C/product/15/" method="post">
<input type="hidden" name="product" value="15">
<input type="hidden" name="uenc" value="aHR0cDovL2JsdWVza3l0ZWNobWFnZS5jb20vZWNvZmFybS8,">
<input name="form_key" type="hidden" value="bm5nJ4bbTFAPttoV" /> <button type="submit" title="Add to Cart" class="action tocart">
<span>Add to Cart</span>
</button>
</form>
</div>
</div>
</div>
</div>
</div> </div>
</div>
</div>
</div>
</div>
</div>
<script type="text/x-magento-init">
	{
		"[data-role=tocart-form], .form.map.checkout": {
			"catalogAddToCart": {}
		}
	}
	</script>
<script type="text/javascript">
require([
	'jquery',
	'mage/mage',
	'rokanthemes/owl',
	'rokanthemes/lazyloadimg'
], function ($) {
	'use strict';

	jQuery(".tab_content_categories_tab").hide();
	jQuery(".tab_content_categories_tab:first").show();

	jQuery("ul.tabs-categories_tab li a").click(function() {
		jQuery("ul.tabs-categories_tab li").removeClass("active");
		jQuery(this).closest('li').addClass("active");
		jQuery(".tab_content_categories_tab").hide();
		var activeTab = $(this).closest('li').attr("rel");
		jQuery("#"+activeTab).fadeIn();
		$("img.lazy").lazyload({
			skip_invisible: false
		});
		return false;
	});

	 jQuery(".tab_content_categories_tab .category_tab_slider").owlCarousel({
		lazyLoad:true,
		autoPlay : false,
		slideSpeed : 1000,
		navigation : true,
		stopOnHover : true,
		pagination : false,
		items : 4,
		itemsDesktop : [1260,4],
		itemsDesktopSmall : [1199,3],
		itemsTablet: [780,2],
		itemsMobile : [479,1],
	});

});


</script>
</div> </div>
</div>
-->
<style>
* {
  box-sizing: border-box;
}

.zoom {
  padding: 50px;

  transition: transform .2s;

  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}
.card-img-top {
    width: 100%;
    height: 18vw;
    object-fit: cover;
}
.card{
    border: none;
}
</style>
<div class="row">
    {% for obj in obj_list %}
    {% if obj.created_by == user %}
<div class="col-md-4 grid-margin">

<div class="card-group">
  <div class="card">
      <div class="zoom">
           {% if obj.images %}
          <img src="{{  obj.images.url }}"  class="card-img-top" >


           {% endif %}

          </div>
    <div class="card-body">
      <h5 class="card-title">{{ obj.product_name}}</h5>
      <p class="card-text">{{ obj.details }}</p>
      <p class="card-text"><small class="text-muted">Price/Kg:{{obj.price}}</small></p>
        <div align="center">
             <button type="button" class="btn btn-primary" onclick="location.href='{% url 'delete_product' id=obj.id %}'">Delete</button>
             <button type="button" class="btn btn-primary" onclick="location.href='{% url 'update_product' id=obj.id %}'">Update</button>


        </div>


    </div>
  </div>
</div>
</div>
    {% endif %}
    {% endfor %}
</div>

{% endblock content%}